{% extends 'adminbase.html.twig' %}

{% block title %} Modifier le password{% endblock %}

{% block body %}
    <div class="container">
        <div class="w-75 mx-auto">
        <h1 class="title">Modification du password : </h1>
            <a href="{{ path('admin_user_index') }}" class="btn btn-primary mt-5"><i class="far fa-arrow-alt-circle-left"></i> Retour</a>
            <div class="mt-5 mb-3 border">
                <h5 class="text-center">CRÉER LE PASSWORD :</h5>
                <label class="text-center mr-5" for="password">Mot de passe :</label>
                <input type="text" class="gen text-center" placeholder="Mot de passe *" required="required" name="password" id="password">
            </div>

        {{ form_start(form) }}
            <div class="form-group">
                {{form_label(form.oldPassword)}}
                {{form_widget(form.oldPassword,{ 'attr': {'class':'form-control', 'value': users}})}}
            </div>
        {{ form_row(form.newPassword) }}
        {{ form_row(form.confirmPassword) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}